@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#loginContainer {
  width: 300px;
  margin: 200px auto;
  padding: 20px;
  background-color: #eaf7ff;
  border: 1px solid #69c8ff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  position: relative;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #69c8ff;
}

button {
  padding: 10px;
  background-color: #69c8ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #48b2ff;
}

#loginContainer:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: linear-gradient(45deg, #69c8ff, #48b2ff);
  border-radius: 10px;
  opacity: 0.8;
  animation: gradientAnimation 3s ease infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
